@use 'sass:math';

// For each of our columns
@for $i from 1 through $cols - 1 {
  .col#{$i} {
    width: math.div($i, $cols) * 100%;
  }
}


@for $i from 0 through 5 { .m#{$i} { margin: $i * .5rem !important; } }
@for $i from 0 through 5 { .mx#{$i} { margin-left: $i * .5rem !important; margin-right: $i * .5rem !important; } }
@for $i from 0 through 5 { .my#{$i} { margin-top: $i * .5rem !important; margin-bottom: $i * .5rem !important; } }
@for $i from 0 through 5 { .mt#{$i} { margin-top: $i * .5rem !important; } }
@for $i from 0 through 5 { .mb#{$i} { margin-bottom: $i * .5rem !important; } }
@for $i from 0 through 5 { .ml#{$i} { margin-left: $i * .5rem !important; } }
@for $i from 0 through 5 { .mr#{$i} { margin-right: $i * .5rem !important; } }

@for $i from 0 through 5 { .p#{$i} { padding: $i * .5rem !important; } }
@for $i from 0 through 5 { .px#{$i} { padding-left: $i * .5rem !important; padding-right: $i * .5rem !important; } }
@for $i from 0 through 5 { .py#{$i} { padding-top: $i * .5rem !important; padding-bottom: $i * .5rem !important; } }
@for $i from 0 through 5 { .pt#{$i} { padding-top: $i * .5rem !important; } }
@for $i from 0 through 5 { .pb#{$i} { padding-bottom: $i * .5rem !important; } }
@for $i from 0 through 5 { .pl#{$i} { padding-left: $i * .5rem !important; } }
@for $i from 0 through 5 { .pr#{$i} { padding-right: $i * .5rem !important; } }

@for $i from 0 through 5 { .shadow#{$i} { box-shadow: 0 0 $i * .5rem #00000080  } }

@for $i from 0 through 5 { 
    .gap#{$i} { 
        .col{ 
            margin-left: $i * .5rem !important; 
            margin-right: $i * .5rem !important;
        }  
        .col:first-of-type{margin-left: unset  !important;}
        .col:last-of-type{margin-right: unset  !important;}
    } 
}

//bg color
@each $color_name, $color in $colors {
    .bg_#{$color_name}{
        background-color: $color !important;
    }
}

//text color
@each $color_name, $color in $colors {
    .#{$color_name}{
        color: $color !important;
    }
}

//text color
@each $color_name, $color in $colors {
    .btn_#{$color_name}{
        color: $color !important;
    }
}

//text color
@each $color_name, $color in $colors {
    .border_#{$color_name}{
        border: 1px solid $color !important;
    }
}