@media (max-width: 766px) {
    
    .col, [class*="col"]{ 
        flex-basis: 100% !important;
        width: 100% !important;
    }
    
    .wrapper{width: 100%;}
    .d-mobile-none{display: none;}
    p, button, a{
        line-height: 26px;
        font-size: 1rem;
    }
    .hero{
        padding:  8rem 0;
        text-align: center;
        background-image: none;
        background-color: $dark;
        .col{
            padding: 1rem;
            align-items: center;
        }
        h1{
            padding: 3rem 1rem;
        }
        .range{
            align-self: flex-start;
        }
    }
    button, .btn{
        &:hover{
            & [class*="icon-"]{
                width: 0;
                opacity: 0;
            }
        }
    }
}

// tablette 
@media (min-width: 768px) {

}

// pc
@media (min-width: 991px) {
    .wrapper{width: 80%;}
    .d-none{ display: none; }
    .d-mobile-none{display: flex;}
    .hide_on_pc{
        display: none;
    }
}

// large
@media (min-width: 1200px) {
    .wrapper{width: 1100px;}
}
// extra large
@media (min-width: 1400px) {
    
}
