h1{
    font-size: clamp(2rem, 3.5vw, 3rem);
    font-weight: 700;
}
h2{
    font-size: clamp(1.8rem, 1.5vw, 4rem);
}

.section h2{
    position: relative;
    display: inline-block;
    letter-spacing: 3px;
    font-weight: 700;
    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 0;
        width: 50%;
        height: 5px;
        background-color: var(--primary);

    }
}